
<!-- game/templates/game/index.html -->
{% extends 'game/base.html' %}
{% load static %}


{% block content %}
    <!-- Tab: Home -->
    {% include 'game/tabs/home.html' %}

    <!-- Tab: Mining -->
    {% include 'game/tabs/mining.html' %}

    <!-- Tab: Inventory -->
    {% include 'game/tabs/inventory.html' %}

    <!-- Tab: Market -->
    {% include 'game/tabs/market.html' %}

    <!-- Tab: Leaderboard -->
    {% include 'game/tabs/leaderboard.html' %}

    <!-- Tab: Profile -->
    {% include 'game/tabs/profile.html' %}

    <!-- Tab: Exchange -->
    {% include 'game/tabs/exchange.html' %}

    <!-- Tab: Exchange -->
    {% include 'game/tabs/BlackMarket.html' %}

{% endblock %}
